{% extends "base.html" %}

{% block title %}Box Office{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>{{ event.name }}</h1>
</div>
<div class="body">
  {{ event.body }}
  <h3>Showings</h3>
  {% for showing in showings %}
  <div class="panel panel-default">
      <div class="panel-heading">
          <h3 class="panel-title">{{ moment(showing.date).fromNow() }}</h3>
      </div>
      <div class="panel-body">
          <p>Tickets remaining: {{ showing.tickets_available() }}</p>
          <a href="{{ url_for('.showing', id=showing.id) }}">Book tickets</a>
      </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
